{% extends "layout.html" %}

{% block content %}

<div id="wrapper">    
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam est velit, faucibus vel dictum non, facilisis non augue. 
    Pellentesque bibendum vitae dolor sed vestibulum. 
    Mauris ultricies metus vitae mauris aliquet, at tristique sem lobortis. Nam commodo luctus orci. Fusce auctor tempus arcu ut lacinia. 
    Donec ultrices nisi non sodales volutpat. 
    Cras ultricies elit eget ipsum efficitur congue. In et sapien pellentesque, egestas arcu non, vehicula felis. 
    Aliquam condimentum magna velit, vel iaculis enim vehicula sed. 
    Nulla rhoncus volutpat sapien, quis volutpat metus ullamcorper luctus. Maecenas dapibus elit eu scelerisque faucibus. 
    Phasellus pharetra velit eu lacus vulputate dictum. 
    Etiam placerat orci ut metus laoreet ornare. Donec lobortis convallis odio, in rutrum lorem iaculis nec.
  </p>
</div>

{% endblock %}