{% extends "layout.html" %}

{% block content %}

<div id="wrapper">
  <img src="https://avatars1.githubusercontent.com/u/50406873?s=460&u=dc5938bac3ca17579c7054c188066f6159ea4826&v=4" 
        alt="Luis Silva" srcset=""
  >
  <h1>Luis Silva</h1>
  <h2>Study. Learn. Practice.</h2>
  <p>I am a student of Data Science at UNIVESP University. Being passionate 
    about new challenges, I started working with software development about a year. 
    Technology enthusiast I try to be constantly evolving and exceeding my limits.</p>
</div>

<div id="links-footer" class="links">
  <a href="https://github.com/LuisHenriqSilva" target="_blank">Github</a>
  <a href="https://www.linkedin.com/in/luis-henrique-da-silva-1587147b" target="_blank">LinkedIn</a>
  <a href="https://twitter.com/LUISHEN35814984" target="_blank">Twitter</a>
</div>

{% endblock %}